<div  class="board-detail <%= action_name == "show" ? "sub-detail" : ""%>">
  <div id="<%= dom_id board %>">
    <p>
      <strong>Board Name:</strong>
      <%= link_to board.name, board %>
    </p>

    <p>
      <strong>Creator:</strong>
      <%= board.creator.email %>
    </p>

    <p>
      <strong>Dimension:</strong>
      <%= "#{board.height}x#{board.width}" %>
    </p>

    <p>
      <strong>Number of Mines:</strong>
      <%= board.number_of_mines %>
    </p>

    <p>
      <strong>Created At:</strong>
      <%= board.formatted_created_date%>
    </p>


  </div>
  <br/>
  <% if action_name == "show" %>
    <div id="board-container" style="width: 1000px; height: 500px; overflow: auto;">
      <canvas id="minesweeperBoard" width="1000" height="500"></canvas>
    </div>
    <div> 
      <button id="loadLeft">Load Left</button> 
      <button id="loadRight">Load Right</button> 
      <button id="loadUp">Load Up</button> 
      <button id="loadDown">Load Down</button>
    </div>


    <script>
      const total_cols = <%= @cols %>;
      const total_rows = <%= @rows %>;

      const number_of_mines = <%= @number_of_mines %>;

      const mineDataUrl = "<%= mines_board_path(@board) %>";
    </script>


  <% end %>


</div>
