<%= form_with(model: board) do |form| %>
  <% if board.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :height, style: "display: block" %>
    <%= form.number_field :height %>
  </div>

  <div>
    <%= form.label :width, style: "display: block" %>
    <%= form.number_field :width %>
  </div>

  <div>
    <%= form.label :creator_id, style: "display: block" %>
    <%= form.number_field :creator_id %>
  </div>

  <div>
    <%= form.label :number_of_mines, style: "display: block" %>
    <%= form.number_field :number_of_mines %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
